@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: center;
  font-size: larger;
}

h1 {
  font-weight: 800;
  margin: 0;
  color: white;
}
p {
  margin: 0;
}

a {
  color: white;
}

.menu,
.scores {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.42);
  background-image: url("/src/assets//menu_bg.svg");
  background-size: 200px;
  background-repeat: repeat;
  backdrop-filter: blur(4px);
  transition: all 1s ease-in-out;
}

/* FADE IN ANIMATION */
.menu:not(.menu--hidden),
.scores:not(.scores--hidden) {
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu--hidden,
.scores--hidden {
  opacity: 0;
  pointer-events: none;
}

button {
  background: rgb(215 186 223 / 60%);
  padding: 24px 42px;
  border: none;
  border-radius: 4px;
  transition: background-color 0.4s;
  font-size: 1.5rem;
  font-weight: 800;
  color: white;
}

button:hover {
  background: #fffffff5;
  cursor: pointer;
  color: #000000b3;
}
